body {
    margin: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px; /* Adjust the margin as needed */
}

.grid {
    width: 400px;
    height: 600px;
    background-size: 200% 100%;
    background-image: url("background.png");
    background-repeat: no-repeat;
    position: relative;
    font-size: 100px;
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
}
.doodler{
    width: 79px;
    height: 85px;
    background-image: url("doodle.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.platform{
    width: 85px;
    height: 50px;
    background-image: url("steps.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;

}
/* Responsive styles for tablets and smaller screens */
@media screen and (max-width: 768px) {
    .grid {
      width: 80vw;
    }
  
    .platform {
      width: 60px;
    }
  
    .doodler {
      width: 40px;
      height: 40px;
    }
  }
  
  /* Responsive styles for mobile devices */
  @media screen and (max-width: 480px) {
    .grid {
      width: 90vw;
    }
  
    .platform {
      width: 40px;
    }
  
    .doodler {
      width: 30px;
      height: 30px;
    }
  }

.controls {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

button {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    margin: 0 5px; 
}

  
